.pages {
  position: fixed;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 99;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.5s ease;
}

.not-logged {
  left: 0px;
  width: 100%;
  transition: all 0.5s ease;
}

.side {
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.close {
  left: 86px;
  width: calc(100% - 86px);
}
