<div class="header"></div>
  <input type="checkbox" id="openMenu">
  <label for="openMenu" class="sidebarIconToggle">
    <div class="spinner diagonal first"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal second"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a [routerLink]="['/books']"><i class="fa-solid fa-book"></i> Livros</a></li>
      <li><a [routerLink]="['/my-books']"> <i class="fa-solid fa-book-bookmark"></i> Meus Livros</a></li>
    </ul>
  </div>
